#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#txtSearch {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin: 15px;
    padding: 10px;
    text-overflow: ellipsis;
    width: 400px;
    border: none;
    border-radius: 3px;
    outline: none;
    position: absolute;
    top: 0;
    z-index: 50;
}
