.container {
	width: 80%;
	margin: 0 auto;
}

.modal {
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 5px;
	position: absolute;
	display: none;
}

.modal .modal-header {
	background-color: #f7f7f9;
	font-weight: bold;
	color: #0275d8;
	padding: 10px;
}

.modal .modal-body {
	padding: 10px;
	border-top: 1px solid rgba(0,0,0,.125);
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.modal .modal-footer {
	padding: 10px;
	text-align: right;
}

#ac {
	width: 500px;
}

.modal-out-bg {
	
}